{% extends "layout.html" %}
{% block heading %}
Floating Point Numbers Representation
{% endblock heading %}
{% block content %}
Integers are primitive data structures provided by default by almost all processors and programming languages. In this lab we study the represenation of integers and the arithmetic operations on them.
Please read the 
<span><a href="http://cse11-iiith.vlabs.ac.in/Integers/integerRepresentation.pdf" target="_blank" >Lecture Notes at this link</a></span> 
 at this link for the necessary background to work on this experiment.
{% endblock content %}
