{% extends "layout.html" %}
{% block heading %}
Floating Point Numbers Representation
{% endblock heading %}
{% block content %}
Many scientific applications involve computations involving just not integers but also real numbers. In computers we cannot precisely represent all of the real numbers. However we can still have a useful and effective representation of them with certain loss in precision.
<br> <br>
In this lab we shall understand the basic concepts of Floating Point Numbers and their conversion to and from decimal form.

{% endblock content %}
