{% extends "layout.html" %}
{% block heading %}
Floating Point Numbers Representation
{% endblock heading %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/quiz.js') }}"></script>
<form name="quiz"  accept-charset="utf-8">
	<br>
	{% for arg in args %}
	<span style="font-weight:bold;">
	{{arg.n}}. {{arg.ques}}
	</span>
	<span class="q{{arg.n}}" id="{{arg.id}}" style="font-weight:bold;" >
	</span>
	<br>
	<input type="radio" name="q{{arg.n}}" id="q11" value="1">
	<label for="q11">{{arg.a1}}</label><br>
	<input type="radio" name="q{{arg.n}}" id="q12" value="2">
	<label for="q12">{{arg.a2}}</label><br>
	<input type="radio" name="q{{arg.n}}" id="q13" value="3">
	<label for="q13">{{arg.a3}}</label><br>
	<input type="radio" name="q{{arg.n}}" id="q14" value="4">
	<label for="q14">{{arg.a4}}</label><br>
	<br>
	{%endfor%}
	<br>
	<button type="button" onclick=check()>Submit</button>
	<button type="button" onclick=resetq()>Reset</button>
</form>
{% endblock content %}
